---
import PlayButton from './PlayButton.astro';

interface Props {
  title: string;
  lead: string;
}

const { title, lead } = Astro.props;
---

<section class="hero">
  <div class="container">
    <h1>{title}</h1>
    <p>{lead}</p>
    <PlayButton />
  </div>
</section>
